<p-toolbar styleClass="mb-6">
  <div class="w-full">
    <div class="p-4 surface-card border-round shadow-2">
      <h5 class="mt-0 mb-4">{{ editing ? 'Editar grupo' : 'Agregar nuevo grupo' }}</h5>

      <form [formGroup]="editing ? formUpdate : formSave" (ngSubmit)="editing ? update() : store()">
        <div class="flex align-items-center gap-3">
            <div style="width: 900px;"> 
                <input type="text" 
                  [formControlName]="'nombre'" 
                  pInputText 
                  id="nombre" 
                  [placeholder]="editing ? 'Edite el grupo' : 'Ingrese el grupo'" 
                  class="w-full"
                  [ngClass]="{'p-invalid': (editing ? formUpdate.get('nombre')?.invalid : formSave.get('nombre')?.invalid) && submitted}" />
                <small *ngIf="(editing ? formUpdate.get('nombre')?.invalid : formSave.get('nombre')?.invalid) && submitted" 
                       class="p-error block">
                  {{ editing ? 'Debe editar el grupo' : 'Debe ingresar un grupo' }}
                </small>
            </div>

            <div class="flex gap-2">
              <p-button
                  type="submit"               
                  [label]="editing ? 'Actualizar' : 'Agregar'" 
                  severity="success" 
                  [loading]="loading" 
                  [disabled]="editing ? formUpdate.invalid : formSave.invalid">
              </p-button>
              
              <p-button *ngIf="editing"
                  type="button" 
                  label="Cancelar" 
                  severity="secondary" 
                  [outlined]="true"
                  (click)="cancelEdit()">
              </p-button>
            </div>
        </div>
      </form>
    </div>
  </div>
</p-toolbar>

<p-toast />
<div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
    <p-progressSpinner [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary"></p-progressSpinner>
</div>

<div *ngIf="!loading">
  <div style="overflow-x:auto;">
    <p-table
        #dt [value]="grupo" [rows]="6" [paginator]="true"
        [globalFilterFields]="['nombre']"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Grupo"
        [showCurrentPageReport]="true" [paginatorDropdownAppendTo]="'body'" [rowsPerPageOptions]="[6, 12, 18]">

      <ng-template #caption>
          <div class="flex items-center justify-between">
              <h5 class="m-0 text-base md:text-lg font-semibold">Registro de grupo</h5>
              <p-iconfield>
                  <p-inputicon styleClass="pi pi-search" />
                  <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="filtro" (input)="buscador()" />
              </p-iconfield>
          </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="min-width: 6rem; text-align: left;">ID</th>
          <th pSortableColumn="nombre" style="min-width:8rem; text-align: center;">Grupo</th>
          <th style="min-width: 10rem; text-align: right;">Acciones</th>          
        </tr>
      </ng-template>

      <ng-template #body let-usuario>
        <tr>
          <td style="text-align: left;">{{ usuario.id }}</td>
          <td style="text-align: center;">{{ usuario.nombre }}</td>
          <td style="text-align: right;">
            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(usuario)"/>
            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="showModalDelete(usuario.id)" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="visibleDelete" header="Confirmación" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>¿Estás seguro que deseas eliminar este grupo?</span>
    </div>
    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
        <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined/>
    </ng-template>
</p-dialog>