<p-toolbar styleClass="mb-4 shadow-sm border rounded-md bg-white">
  <ng-template #start>
    <p-button 
      label="Registrar asistencia" 
      icon="pi pi-check-circle" 
      severity="success" 
      (click)="registrarAsistencia()" 
      [disabled]="yaRegistrado || loading" 
      class="rounded-xl font-semibold"
    />
  </ng-template>
</p-toolbar>

<p-toast></p-toast>

<!-- Cargando -->
<div *ngIf="loading" class="flex justify-center items-center h-60">
  <p-progressSpinner 
    styleClass="p-text-primary" 
    [style]="{ width: '50px', height: '50px' }">
  </p-progressSpinner>
</div>

<!-- Tabla de asistencias -->
<div *ngIf="!loading && asistencias.length > 0" class="bg-white rounded-xl shadow-md p-4">
  <p-table 
    #dt
    [value]="asistencias" 
    [paginator]="true" 
    [rows]="7" 
    [rowsPerPageOptions]="[7,14,21]" 
    [responsiveLayout]="'scroll'" 
    [tableStyle]="{ 'min-width': '100%' }"
    class="p-datatable-sm"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} asistencias"
    [globalFilterFields]="['fecha', 'presente']"
  >
    <!-- Aquí va el caption con el atributo pTemplate -->
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between p-2">
        <h5 class="m-0 flex items-center">
          <i class="pi pi-calendar-check mr-2 text-primary"></i>
          Mis asistencias registradas
        </h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search"></p-inputicon>
          <input
            pInputText
            type="text"
            placeholder="Buscar por fecha"
            [(ngModel)]="terminoBusqueda"
            (ngModelChange)="dt.filterGlobal(terminoBusqueda, 'contains')"
           />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-left">Fecha</th>
        <th class="text-left">Estado</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-asistencia>
      <tr>
        <td>{{ asistencia.fecha }}</td>
        <td>
          <span 
            class="p-tag font-semibold" 
            [ngClass]="{
              'p-tag-success': asistencia.presente,
              'p-tag-danger': !asistencia.presente
            }"
          >
            {{ asistencia.presente ? 'Presente' : 'Ausente' }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Sin registros -->
<div *ngIf="!loading && asistencias.length === 0" class="mt-10 text-center text-gray-500 text-lg">
  <i class="pi pi-info-circle text-2xl text-gray-400 mr-2"></i>
  Aún no tienes asistencias registradas.
</div>
