    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar nuevo usuario" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Descargar Pdf" icon="pi pi-download" severity="secondary" (click)="exportPdf()" />
        </ng-template>
    </p-toolbar>

    <p-toast />
        <div 
            *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
            <p-progressSpinner 
                [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
            </p-progressSpinner>
        </div>


    <div *ngIf="!loading">
        <p-table
        #dt
        [value]="usuario"
        [rows]="6"
        [paginator]="true"
        [globalFilterFields]="['nombre', 'apellido', 'cedula']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Usuarios"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[6, 12, 18]"
        >

            <ng-template #caption>
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <h5 class="m-0 text-base md:text-lg font-semibold">Usuarios</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="filtro" (input)="buscador()" />
            </p-iconfield>
            </div>
            </ng-template>

            <ng-template #header>
            <tr>
            <th pSortableColumn="nombre" style="min-width: 8rem">Nombre</th>
            <th pSortableColumn="apellido" style="min-width: 8rem">Apellido</th>
            <th pSortableColumn="price" style="min-width: 8rem">Email</th>
            <th pSortableColumn="cedula" style="min-width: 10rem">Identificación</th>
            <th style="min-width: 10rem">Teléfono</th>
            <th style="min-width: 8rem">Dirección</th>
            <th style="min-width: 8rem">Ciudad</th>
            <th style="min-width: 8rem">Género</th>
            <th style="min-width: 6rem">Edad</th>
            <th style="min-width: 12rem">Fecha Nacimiento</th>
            <th style="min-width: 12rem">Fecha Inscripción</th>
            <th style="min-width: 10rem">Acciones</th> 
            </tr>
            </ng-template>

            <ng-template #body let-usuario>
            <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.cedula }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.direccion }}</td>
            <td>{{ getNombreCiudad(usuario.id_ciudad) }}</td>
            <td>{{ getNombreGenero(usuario.id_genero) }}</td>
            <td>{{ usuario.edad }}</td>
            <td>{{ usuario.fechaNacimiento }}</td>
            <td>{{ usuario.fechaInscripcion }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" 
                        (click)="edit(usuario.id)"></p-button>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" 
                        (click)="showModalDelete(usuario.id)"></p-button>
            </td>
            </tr>
            </ng-template>

        </p-table>
    </div>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '450px' }" header="Agregar usuario" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formSaveUsuario" class="formulario">
                <div class="flex flex-col gap-6">

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="nombre" class="block font-bold mb-3">Nombre</label>
                            <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese la nombre" required fluid />
                            <p-message 
                                *ngIf="formSaveUsuario.get('nombre')?.invalid && (formSaveUsuario.get('nombre')?.dirty || formSaveUsuario.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                                Nombre es requerido
                            </p-message>
                        </div>
                        <div class="col-span-6">
                            <label for="apellido" class="block font-bold mb-3">Apellido</label>
                            <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required  fluid />
                            <p-message 
                                *ngIf="formSaveUsuario.get('apellido')?.invalid && (formSaveUsuario.get('apellido')?.dirty || formSaveUsuario.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                                Apellido es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">

                        <div class="col-span-6">
                            <div class="block font-bold mb-1">Fecha nacimiento</div>
                            <p-datepicker [maxDate]="maxDate" [appendTo]="'body'" formControlName="fechaNacimiento" inputId="fechaNacimiento" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Fecha de nacimiento'"> </p-datepicker>
                            <p-message 
                                *ngIf="formSaveUsuario.get('fechaNacimiento')?.invalid && (formSaveUsuario.get('fechaNacimiento')?.dirty || formSaveUsuario.get('fechaNacimiento')?.touched)" severity="error" variant="simple"size="small">
                                Fecha Nacimiento es requerido
                            </p-message>
                        </div>
                        
                        <div class="col-span-6">
                            <label for="email1" class="block font-bold mb-1">Email</label>
                            <input pInputText id="email" type="text" placeholder=" Ingrese el email" class="w-full text-sm px-0 py-2" formControlName="email"  name="email" type="email"  required/>
                            <p-message 
                                *ngIf="formSaveUsuario.get('apellido')?.invalid && (formSaveUsuario.get('apellido')?.dirty || formSaveUsuario.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                                email es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <!-- Cédula / Identificación -->
                        <div class="col-span-6">
                            <label for="cedula" class="block font-bold mb-1">Identificación</label>
                            <input type="text"
                                pInputText 
                                formControlName="cedula" 
                                id="cedula" 
                                placeholder="Número de identificación" 
                                class="w-full text-sm px-0 py-2"
                                maxlength="15">

                            <!-- Mensajes de validación para cédula -->
                            <div class="mt-1">
                                <p-message *ngIf="formSaveUsuario.get('cedula')?.hasError('required') && (formSaveUsuario.get('cedula')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                    La identificación es requerida
                                </p-message>
                                <p-message *ngIf="formSaveUsuario.get('cedula')?.hasError('pattern')" 
                                        severity="error" variant="simple" size="small">
                                    Identificación inválida, solo letras y números permitidos (5-15 caracteres)
                                </p-message>
                            </div>
                        </div>

                        <!-- Teléfono -->
                        <div class="col-span-6">
                            <label for="telefono" class="block font-bold mb-1">Teléfono</label>
                            <input type="tel"
                                pInputText 
                                formControlName="telefono" 
                                id="telefono" 
                                placeholder="Número de teléfono" 
                                class="w-full text-sm px-0 py-2"
                                maxlength="25">

                            <!-- Mensajes de validación para teléfono -->
                            <div class="mt-1">
                                <p-message *ngIf="formSaveUsuario.get('telefono')?.hasError('required') && (formSaveUsuario.get('telefono')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                    El teléfono es requerido
                                </p-message>
                                <p-message *ngIf="formSaveUsuario.get('telefono')?.hasError('pattern')" 
                                        severity="error" variant="simple" size="small">
                                    Teléfono inválido, debe ser tipo +593 987654321
                                </p-message>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_ciudad" class="block font-bold mb-3">Ciudad</label>
                                <p-select [options]="ciudad" [appendTo]="'body'" formControlName="id_ciudad"  inputId="id_ciudad"  optionLabel="nombre" optionValue="id" placeholder="Seleccione la ciudad" fluid />
                                <p-message 
                                    *ngIf="formSaveUsuario.get('id_ciudad')?.invalid && (formSaveUsuario.get('id_ciudad')?.dirty || formSaveUsuario.get('id_ciudad')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>

                        <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_genero" class="block font-bold mb-3">Género</label>
                                <p-select [options]="genero" [appendTo]="'body'" formControlName="id_genero"  inputId="id_genero"  optionLabel="nombre" optionValue="id" placeholder="Seleccione el género" fluid />
                                <p-message 
                                    *ngIf="formSaveUsuario.get('id_genero')?.invalid && (formSaveUsuario.get('id_genero')?.dirty || formSaveUsuario.get('id_genero')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12">
                        <label for="direccion" class="block font-bold mb-3">Dirección</label>
                        <input type="text" formControlName="direccion" pInputText id="direccion" placeholder="Ingrese la dirección" fluid />
                    </div>

                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSaveUsuario" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="store()"/>
            </form>
        </ng-template>
    
    </p-dialog>

    <p-dialog [(visible)]="visibleDelete" header="Confirmación" [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar este usuario?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '450px' }" header="Actualizar usuario" [modal]="true">
        <ng-template #content>
            <form [formGroup]="formUpdateUsuario" class="formulario">
                <div class="flex flex-col gap-6">

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="nombre" class="block font-bold mb-3">Nombre</label>
                            <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese la nombre"  required fluid />    
                            <p-message 
                                *ngIf="formUpdateUsuario.get('nombre')?.invalid && (formUpdateUsuario.get('nombre')?.dirty || formUpdateUsuario.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                                Nombre es requerido
                            </p-message>
                        </div>

                        <div class="col-span-6">
                            <label for="apellido" class="block font-bold mb-3">Apellido</label>
                            <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese la apellido"  required fluid />
                            <p-message 
                                *ngIf="formUpdateUsuario.get('apellido')?.invalid && (formUpdateUsuario.get('apellido')?.dirty || formUpdateUsuario.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                                Apellido es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">

                        <div class="col-span-6">
                            <div class="block font-bold mb-1">Fecha nacimiento</div>
                                <p-datepicker [maxDate]="maxDate" [appendTo]="'body'" formControlName="fechaNacimiento" inputId="fechaNacimiento" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'"> </p-datepicker>
                                <p-message 
                                    *ngIf="formUpdateUsuario.get('fechaNacimiento')?.invalid && (formUpdateUsuario.get('fechaNacimiento')?.dirty || formUpdateUsuario.get('fechaNacimiento')?.touched)" severity="error" variant="simple"size="small">
                                    Fecha Nacimiento es requerida
                                </p-message>
                            </div>
                        
                        <div class="col-span-6">
                            <label for="email1" class="block font-bold mb-1">Email</label>
                            <input pInputText id="email" type="text" placeholder="Ingrese el email" class="w-full text-sm px-0 py-2" formControlName="email"  name="email" type="email"  required/>
                            <p-message 
                            *ngIf="formUpdateUsuario.get('apellido')?.invalid && (formUpdateUsuario.get('apellido')?.dirty || formUpdateUsuario.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Email es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">

                        <div class="col-span-6">
                            <label for="cedula" class="block font-bold mb-3">Identificación</label>
                            <input type="text" 
                                formControlName="cedula" 
                                pInputText 
                                id="cedula" 
                                placeholder="Número de Identificación"
                                class="w-full text-sm px-0 py-2"
                                maxlength="15">

                            <p-message *ngIf="formUpdateUsuario.get('cedula')?.hasError('required') && (formUpdateUsuario.get('cedula')?.dirty || formUpdateUsuario.get('cedula')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                Identificación es requerida
                            </p-message>

                            <p-message *ngIf="formUpdateUsuario.get('cedula')?.hasError('pattern') && (formUpdateUsuario.get('cedula')?.dirty || formUpdateUsuario.get('cedula')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                Identificación inválida, solo letras y números permitidos (5-15 caracteres)
                            </p-message>
                        </div>

                        <div class="col-span-6">
                            <label for="telefono" class="block font-bold mb-3">Teléfono</label>
                            <input type="tel" 
                                formControlName="telefono" 
                                pInputText 
                                id="telefono" 
                                placeholder="Número de teléfono"
                                class="w-full text-sm px-0 py-2"
                                maxlength="20">

                            <p-message *ngIf="formUpdateUsuario.get('telefono')?.hasError('required') && (formUpdateUsuario.get('telefono')?.dirty || formUpdateUsuario.get('telefono')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                Teléfono es requerido
                            </p-message>

                            <p-message *ngIf="formUpdateUsuario.get('telefono')?.hasError('pattern') && (formUpdateUsuario.get('telefono')?.dirty || formUpdateUsuario.get('telefono')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                Teléfono inválido, debe ser tipo +593 987654321
                            </p-message>
                        </div>

                    </div>

                    <div class="grid grid-cols-12 gap-4">
                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_ciudad" class="block font-bold mb-3">Ciudad</label>
                                <p-select [options]="ciudad" [appendTo]="'body'" formControlName="id_ciudad"  inputId="id_ciudad"  optionLabel="nombre" optionValue="id" placeholder="Seleccione la ciudad" fluid />
                                <p-message 
                                    *ngIf="formUpdateUsuario.get('id_ciudad')?.invalid && (formUpdateUsuario.get('id_ciudad')?.dirty || formUpdateUsuario.get('id_ciudad')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>

                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_genero" class="block font-bold mb-3">Género</label>
                                <p-select [options]="genero" [appendTo]="'body'" formControlName="id_genero"  inputId="id_genero"  optionLabel="nombre" optionValue="id" placeholder="Seleccione el género" fluid />
                                <p-message 
                                    *ngIf="formUpdateUsuario.get('id_genero')?.invalid && (formUpdateUsuario.get('id_genero')?.dirty || formUpdateUsuario.get('id_genero')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12">
                        <label for="direccion" class="block font-bold mb-3">Dirección</label>
                        <input type="text" formControlName="direccion" pInputText id="direccion" placeholder="Ingrese la dirección" fluid />
                    </div>

                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formUpdateUsuario" class="formulario">
            <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelUpdate()" />
            <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
        </form>
        </ng-template>
    </p-dialog>



       