<div class="card p-4">
    <h2 class="text-center text-2xl font-bold mb-4">
      Evolución de tiempos de {{ nombreUsuario }}
    </h2>

    <div *ngIf="loading" class="text-center py-10">
      <div class="inline-block w-12 h-12 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
      <p class="mt-4 text-gray-600">Cargando datos del nadador...</p>
    </div>

    <div *ngIf="error" class="p-3 bg-red-100 border-1 border-red-300 text-red-800 rounded-md mb-4">
      <div class="flex justify-between items-center">
        <span class="pi pi-exclamation-triangle mr-2"></span>
        <span class="flex-1">Error al cargar los datos.</span>
        <button pButton label="Reintentar" icon="pi pi-refresh" class="p-button-sm" (click)="cargarDatos(idUsuarioSeleccionado)"></button>
      </div>
    </div>

    <div *ngIf="!loading && usuarios.length > 0" class="mb-5">
      <label class="block font-medium mb-2">Seleccione un usuario</label>
      <p-dropdown 
        [options]="usuarios" [(ngModel)]="idUsuarioSeleccionado" optionLabel="nombreCompleto" optionValue="id"
        placeholder="Seleccione un usuario" filter="true" filterBy="nombreCompleto"  (onChange)="cargarDatos(idUsuarioSeleccionado)" class="w-full md:w-40rem">
      </p-dropdown>
    </div>

    <div 
      *ngIf="!loading && !error && comboChartData && objectKeys(comboChartData).length > 0"
      class="grid gap-4 grid-cols-1 md:grid-cols-2">
      <div *ngFor="let serie of comboChartData | keyvalue" class="card shadow-sm p-2 h-[18rem]">
        <h3 class="text-sm font-medium text-center mb-1 truncate">
          {{ serie.value?.chartTitle }}
        </h3>
        <div class="h-[10rem]">
          <p-chart
            type="bar" [data]="{ labels: serie.value.labels, datasets: serie.value.datasets }"
            [options]="comboChartOptions" styleClass="w-full h-full">
          </p-chart>
        </div>
      </div>
    </div>

    <div *ngIf="!loading && !error && (!comboChartData || objectKeys(comboChartData).length === 0)"
        class="p-4 mt-4 bg-gray-100 border-round text-center text-gray-600">
      <span>No se encontraron registros para este usuario</span>
    </div>

</div>
