<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Agregar nuevo entrenador en su grupo" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
    </ng-template>
</p-toolbar>

<p-toast></p-toast>
<div 
    *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
    <p-progressSpinner 
        [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
    </p-progressSpinner>
</div>

<div *ngIf="!loading">
<p-table
    #dt
    [value]="historial"
    [globalFilterFields]="['nombre', 'apellido', 'cedula', 'grupo', 'fecha_inicio', 'fecha_fin']"
    [paginator]="true"
    [rows]="6"
    [rowsPerPageOptions]="[6, 12, 18]"
    [rowHover]="true"
    dataKey="id"
    responsiveLayout="scroll"
    class="p-datatable-sm"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
>

    <!-- Encabezado con búsqueda -->
    <ng-template pTemplate="caption">
    <div class="flex items-center justify-between flex-wrap gap-2">
        <h5 class="m-0 text-base md:text-lg font-semibold">Historial de Entrenadores y Grupos</h5>
        <p-iconfield>
        <p-inputicon styleClass="pi pi-search"></p-inputicon>
        <input
            pInputText
            type="text"
            placeholder="Buscar..."
            [(ngModel)]="filtro"
            (input)="dt.filterGlobal(filtro, 'contains')"
        />
        </p-iconfield>
    </div>
    </ng-template>

    <!-- Cabecera de columnas -->
    <ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="nombre">Usuarios</th>
        <th pSortableColumn="cedula">Identificación</th>
        <th pSortableColumn="grupo">Grupo</th>
        <th pSortableColumn="turno">Turno</th>
        <th pSortableColumn="fecha_inicio">Inicio</th>
        <th pSortableColumn="fecha_fin">Fin</th>
        <th pSortableColumn="estado_funcional">Estado</th>
        <th>Acciones</th>
    </tr>
    </ng-template>

    <!-- Filas de la tabla -->
    <ng-template pTemplate="body" let-registro>
    <tr>
        <td>{{ getNombreCompleto(registro) }}</td>
        <td class="text-center">{{ registro.cedula }}</td>
        <td class="text-center">{{ registro.grupo }}</td>
        <td class="text-center">{{ registro.turno }}</td>
        <td class="text-center">{{ registro.fecha_inicio | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center">{{ registro.fecha_fin ? (registro.fecha_fin | date: 'dd/MM/yyyy') : 'Activo' }}</td>
        <td class="text-center">{{ registro.estado_funcional ? 'Activo' : 'Inactivo' }}</td>
        <td class="text-center">
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" 
                (click)="edit(registro)"></p-button>
        <p-button icon="pi pi-trash" severity="danger" class="mr-2"  [rounded]="true" [outlined]="true" 
                (click)="showModalDelete(registro.id)"></p-button>
         <p-button 
    icon="pi pi-times-circle" 
    class="mr-2" 
    [rounded]="true" 
    [outlined]="true"
    (click)="cancelarMatricula(registro.id)" 
    *ngIf="registro.estado_funcional">
  </p-button>
        </td>
    </tr>
    </ng-template>

</p-table>
</div>

<p-dialog [(visible)]="visibleSave" [style]="{ width: '450px' }" header="Agregar inscripción del usuario" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">    
    <ng-template #content>
        <form [formGroup]="formSave" class="formulario">
            <div class="flex flex-col gap-6">

                <div class="col-span-6">
                    <label for="id_usuario" class="block font-bold mb-3">Usuario</label>             
                    <p-select
                        [options]="usuarios" [appendTo]="'body'" formControlName="id_usuario"inputId="id_usuario"optionLabel="display"optionValue="id"
                        placeholder="Seleccione un usuario" [filter]="true" filterBy="display" [showClear]="true" class="w-full md:w-70">
                    </p-select>
                    <div class="mt-2">
                        <p-message
                            *ngIf="formSave.get('id_usuario')?.invalid && (formSave.get('id_usuario')?.dirty || formSave.get('id_usuario')?.touched)" severity="error" variant="simple" size="small" >
                            Usuario es requerido
                        </p-message>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-4">  
                    <div class="col-span-6">
                        <label for="id_grupo" class="block font-bold mb-3">Grupo</label>             
                        <p-select
                            [options]="grupos" formControlName="id_grupo" optionLabel="nombre"optionValue="id" placeholder="Seleccione un grupo" 
                            inputId="grupo" [showClear]="true" [appendTo]="'body'" class="w-full md:w-70">
                        </p-select>
                        <div class="mt-2">
                            <p-message
                                *ngIf="formSave.get('id_grupo')?.invalid && (formSave.get('id_grupo')?.dirty || formSave.get('id_grupo')?.touched)" severity="error" variant="simple" size="small" >
                                Entrenador es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="col-span-6">
                        <label for="turno" class="block font-bold mb-3">Turno</label>
                        <p-dropdown
                            inputId="turno"
                            [options]="[
                            { label: 'Mañana', value: 'mañana' },
                            { label: 'Tarde', value: 'tarde' },
                            { label: 'Noche', value: 'noche' }
                            ]"
                            formControlName="turno"
                            placeholder="Seleccione un turno"
                            [showClear]="true"
                            [appendTo]="'body'"
                            class="w-full md:w-70"
                        ></p-dropdown>

                        <div class="mt-2">
                            <p-message
                            *ngIf="formSave.get('turno')?.invalid && (formSave.get('turno')?.dirty || formSave.get('turno')?.touched)"
                            severity="error"
                            variant="simple"
                            size="small"
                            >
                            El turno es requerido
                            </p-message>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-4">                         
                    <div class="col-span-6 col-start-4">
                        <label for="fecha_inicio" class="block font-bold mb-2">Fecha inicio</label>
                        <div class="flex justify-center">
                            <p-datepicker 
                                [(ngModel)]="fechaActual" [maxDate]="maxDate" formControlName="fecha_inicio" inputId="fecha_inicio" [showIcon]="true" [showButtonBar]="true" 
                                [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione fecha inicio'" class="w-96">
                            </p-datepicker>
                        </div>
                        <div class="flex justify-center">
                            <p-message 
                                *ngIf="formSave.get('fecha_inicio')?.invalid && (formSave.get('fecha_inicio')?.dirty || formSave.get('fecha_inicio')?.touched)" severity="error" variant="simple" size="small">
                                Fecha inicio es requerido
                            </p-message>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <form [formGroup]="formSave" class="formulario">
        <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()"  />
        <p-button label="Guardar" icon="pi pi-check" (click)="store()" />
    </form>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleDelete" header="Confirmafación"  [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>¿Estás seguro que deseas eliminar este registro?</span>
    </div>
    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
        <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined />
    </ng-template>
</p-dialog>

 <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '450px' }" header="Actualizar inscripción del usuario" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">
    <ng-template #content>
        <form [formGroup]="formUpdate" class="formulario">
            <div class="flex flex-col gap-6">
                <div class="col-span-6 gap-4">
                        <label for="id_usuario" class="block font-bold mb-3">Usuario</label>   
                        <p-select 
                            [options]="usuarios" formControlName="id_usuario" optionLabel="display" optionValue="id" [readonly]="true" [style]="{'background-color': '#e0e0e0'}" class="w-full md:w-70 ">
                        </p-select>
                </div>

                <div class="grid grid-cols-12 gap-4">  

                    <div class="col-span-6 gap-4">

                        <label for="id_grupo" class="block font-bold mb-3">Grupo</label>             
                        <p-select
                            [options]="grupos" formControlName="id_grupo" optionLabel="nombre"optionValue="id" placeholder="Seleccione un grupo" 
                            inputId="grupo" [showClear]="true" [appendTo]="'body'" class="w-full md:w-70">
                        </p-select>
                        <div class="mt-2">
                            <p-message
                                *ngIf="formUpdate.get('id_grupo')?.invalid && (formUpdate.get('id_grupo')?.dirty || formUpdate.get('id_grupo')?.touched)" severity="error" variant="simple" size="small" >
                                Entrenador es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="col-span-6">
                        <label for="turno" class="block font-bold mb-3">Turno</label>
                        <p-dropdown
                            inputId="turno"
                            [options]="[
                            { label: 'Mañana', value: 'mañana' },
                            { label: 'Tarde', value: 'tarde' },
                            { label: 'Noche', value: 'noche' }
                            ]"
                            formControlName="turno"
                            placeholder="Seleccione un turno"
                            [showClear]="true"
                            [appendTo]="'body'"
                            class="w-full md:w-70"
                        ></p-dropdown>

                        <div class="mt-2">
                            <p-message
                            *ngIf="formUpdate.get('turno')?.invalid && (formUpdate.get('turno')?.dirty || formUpdate.get('turno')?.touched)"
                            severity="error"
                            variant="simple"
                            size="small"
                            >
                            El turno es requerido
                            </p-message>
                        </div>
                    </div>
                </div>

                    <div class="grid grid-cols-12 gap-4">                         
                        <div class="col-span-6">
                            <label for="fecha_inicio" class="block font-bold mb-2">Fecha inicio</label>
                            <p-datepicker 
                                formControlName="fecha_inicio" inputId="fecha_inicio" [showIcon]="true" [showButtonBar]="true" 
                                [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione fecha inicio'" class="w-96" >
                            </p-datepicker>
                            <p-message 
                                *ngIf="formUpdate.get('fecha_inicio')?.invalid && (formUpdate.get('fecha_inicio')?.dirty || formUpdate.get('fecha_inicio')?.touched)"  severity="error"  variant="simple" size="small">
                                Fecha inicio es requerido
                            </p-message>
                        </div>

                        <div class="col-span-6 ">
                            <label for="fecha_fin" class="block font-bold mb-2">Fecha Fin</label>
                            <p-datepicker 
                                formControlName="fecha_fin" inputId="fecha_fin" [showIcon]="true" [showButtonBar]="true" 
                                [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione fecha inicio'" class="w-96" >
                            </p-datepicker>
                            <p-message 
                                *ngIf="formUpdate.get('fecha_fin')?.invalid && (formUpdate.get('fecha_fin')?.dirty || formUpdate.get('fecha_fin')?.touched)"  severity="error"  variant="simple" size="small">
                                Fecha inicio es requerido
                            </p-message>
                        </div>
                            
                    </div>

                <div class="col-span-6 gap-4">
                    <label for="estado_funcional" class="block font-bold mb-2">Estado</label>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="flex items-center gap-2 col-span-6 justify-center">
                            <p-radiobutton name="estado_funcional" [value]="true" formControlName="estado_funcional" inputId="aptoSi" />
                            <label for="aptoSi">Activo</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6 justify-center ml-6">
                            <p-radiobutton name="estado_funcional" [value]="false" formControlName="estado_funcional" inputId="aptoNo" />
                            <label for="aptoNo">Inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <form [formGroup]="formUpdate" class="formulario">
            <p-button label="Cancelar" icon="pi pi-times" text (click)="canceUpdate()"  />
            <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
    </form>
    </ng-template>
  </p-dialog>

