    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar médico" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Descargar Pdf" icon="pi pi-download" severity="secondary" (click)="exportPdf()" />
        </ng-template>
    </p-toolbar>

    <p-toast />

    <div *ngIf="loading" class="flex justify-center items-center h-[300px]">
        <p-progressSpinner [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary"></p-progressSpinner>
    </div>

    <div *ngIf="!loading">
        <p-table [value]="medicos"            
            [globalFilterFields]="['nombre', 'apellido', 'cedula']"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" [paginator]="true" 
            currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Médicos"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[6, 12, 18]" [rows]="6" #dt>

            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0 text-base md:text-lg font-semibold">Registro de Médicos</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="filtro" (input)="buscador()" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th pSortableColumn="nombre" style="min-width:8rem">Nombre</th>
                    <th pSortableColumn="apellido" style="min-width:8rem">Apellido</th>
                    <th pSortableColumn="email" style="min-width:10rem">Email</th>
                    <th pSortableColumn="cedula" style="min-width:8rem">Cédula</th>
                    <th pSortableColumn="telefono" style="min-width:8rem">Teléfono</th>
                    <th pSortableColumn="direccion" style="min-width:10rem">Dirección</th>
                    <th pSortableColumn="ciudad" style="min-width:8rem">Ciudad</th>
                    <th pSortableColumn="genero" style="min-width:8rem">Género</th>
                    <th pSortableColumn="edad" style="min-width:6rem">Edad</th>
                    <th pSortableColumn="fechaNacimiento" style="min-width:10rem">Nacimiento</th>
                    <th pSortableColumn="fechaInscripcion" style="min-width:10rem">Inscripción</th>
                    <th style="min-width:10rem">Acciones</th>
                </tr>
            </ng-template>

            <ng-template #body let-medico>
                <tr>
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.apellido }}</td>
                    <td>{{ medico.email }}</td>
                    <td>{{ medico.cedula }}</td>
                    <td>{{ medico.telefono }}</td>
                    <td>{{ medico.direccion }}</td>
                    <td>{{ getNombreCiudad(medico.id_ciudad) }}</td>
                    <td>{{ getNombreGenero(medico.id_genero) }}</td>
                    <td>{{ medico.edad }}</td>
                    <td>{{ medico.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ medico.fechaInscripcion | date:'dd/MM/yyyy' }}</td>
                    <td class="flex gap-2">
                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="edit(medico.id)"/>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="showModalDelete(medico.id)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '450px' }" header="Agregar entrenador" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formSave" class="formulario">
                <div class="flex flex-col gap-6">
                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="nombre" class="block font-bold mb-3">Nombre</label>
                            <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre" required fluid />
                            <p-message 
                                *ngIf="formSave.get('nombre')?.invalid && (formSave.get('nombre')?.dirty || formSave.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                                Nombre es requerido
                            </p-message>
                        </div>
                        <div class="col-span-6">
                            <label for="apellido" class="block font-bold mb-3">Apellido</label>
                            <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required fluid />
                            <p-message 
                                *ngIf="formSave.get('apellido')?.invalid && (formSave.get('apellido')?.dirty || formSave.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                                Apellido es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="password" class="block font-bold mb-1">Contraseña</label>
                            <input pInputText  id="password" placeholder="Ingrese la contraseña" class="w-full text-sm px-0 py-2" formControlName="password" name="password" required />
                            <p-message 
                                *ngIf="formSave.get('password')?.errors?.['required'] && (formSave.get('password')?.dirty || formSave.get('password')?.touched)" severity="error" variant="simple" size="small">
                                Contraseña es requerida
                            </p-message>
                            <p-message 
                                *ngIf="formSave.get('password')?.errors?.['minlength'] && (formSave.get('password')?.dirty || formSave.get('password')?.touched)" severity="error" variant="simple" size="small">
                                Contraseña debe tener mínimo 6 caracteres
                            </p-message>
                        </div>
                        
                        <div class="col-span-6">
                            <label for="email1" class="block font-bold mb-1">Email</label>
                            <input pInputText id="email" type="text" placeholder=" Ingrese el email" class="w-full text-sm px-0 py-2" formControlName="email"  name="email" type="email"  required/>
                            <p-message 
                                *ngIf="formSave.get('apellido')?.invalid && (formSave.get('apellido')?.dirty || formSave.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                                Email es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="cedula" class="block font-bold mb-1">Identificación</label>
                            <input type="tel"
                                    pInputText 
                                    formControlName="cedula" 
                                    id="cedula" 
                                    placeholder="Número de identificación" 
                                    class="w-full text-sm px-0 py-2"
                                    (input)="soloNumeros($event)"
                                    maxlength="10"
                                    pattern="[0-9]*"
                                    inputmode="numeric">
                            
                    <!-- Mensajes de validación para cédula -->
                    <div class="mt-1">
                        <p-message *ngIf="formSave.get('cedula')?.hasError('required') && (formSave.get('cedula')?.touched)" 
                                severity="error" variant="simple" size="small">
                        La identificación es requerida
                        </p-message>
                        <p-message *ngIf="formSave.get('cedula')?.hasError('pattern') || formSave.get('cedula')?.hasError('minlength') || formSave.get('cedula')?.hasError('maxlength')" 
                                severity="error" variant="simple" size="small">
                        Debe contener exactamente 10 dígitos numéricos
                        </p-message>
                    </div>
</div>

<div class="col-span-6">
  <label for="telefono" class="block font-bold mb-1">Teléfono</label>
  <input type="tel"
         pInputText 
         formControlName="telefono" 
         id="telefono" 
         placeholder="Número de teléfono" 
         class="w-full text-sm px-0 py-2"
         (input)="soloNumeros($event)"
         maxlength="10"
         pattern="[0-9]*"
         inputmode="numeric">
  
  <!-- Mensajes de validación para teléfono -->
  <div class="mt-1">
    <p-message *ngIf="formSave.get('telefono')?.hasError('required') && (formSave.get('telefono')?.touched)" 
               severity="error" variant="simple" size="small">
      El teléfono es requerido
    </p-message>
    <p-message *ngIf="formSave.get('telefono')?.hasError('pattern') || formSave.get('telefono')?.hasError('minlength') || formSave.get('telefono')?.hasError('maxlength')" 
               severity="error" variant="simple" size="small">
      Debe contener exactamente 10 dígitos numéricos
    </p-message>
  </div>
</div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_ciudad" class="block font-bold mb-3">Ciudad</label>
                                <p-select [options]="ciudad" [appendTo]="'body'" formControlName="id_ciudad"  inputId="id_ciudad"  optionLabel="nombre" optionValue="id" placeholder="Seleccione la ciudad" fluid />
                                <p-message 
                                    *ngIf="formSave.get('id_ciudad')?.invalid && (formSave.get('id_ciudad')?.dirty || formSave.get('id_ciudad')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>

                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_genero" class="block font-bold mb-3">Género</label>
                                <p-select [options]="genero" [appendTo]="'body'" formControlName="id_genero"  inputId="id_genero"  optionLabel="nombre" optionValue="id" placeholder="Seleccione el género" fluid />
                                <p-message 
                                    *ngIf="formSave.get('id_genero')?.invalid && (formSave.get('id_genero')?.dirty || formSave.get('id_genero')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <div class="col-span-6">
                               <label for="direccion" class="block font-bold mb-3">Dirección</label>
                                <input type="text" formControlName="direccion" pInputText id="direccion" placeholder="Ingrese la dirección" fluid />
                            </div>
                        </div>
                        
                        <div class="col-span-6">
                            <div class="block font-bold mb-3">Fecha de inscripción</div>
                            <p-datepicker [(ngModel)]="fechaActual" [appendTo]="'body'" formControlName="fechaInscripcion" inputId="fechaInscripcion" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" [maxDate]="maxDate"> </p-datepicker>
                            <p-message 
                                *ngIf="formSave.get('fechaInscripcion')?.invalid && (formSave.get('fechaInscripcion')?.dirty || formSave.get('fechaInscripcion')?.touched)" severity="error" variant="simple"size="small">
                                Fecha Inscripción es requerida
                            </p-message>  
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <div class="block font-bold mb-3">Fecha de nacimiento</div>
                            <p-datepicker [maxDate]="maxDate" [appendTo]="'body'" formControlName="fechaNacimiento" inputId="fechaNacimiento" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'"> </p-datepicker>
                            <p-message 
                            *ngIf="formSave.get('fechaNacimiento')?.invalid && (formSave.get('fechaNacimiento')?.dirty || formSave.get('fechaNacimiento')?.touched)" severity="error" variant="simple"size="small">
                            Fecha Nacimiento es requerido
                            </p-message>
                        </div>

                        <div class="col-span-6">
                            <label for="edad" class="block font-bold mb-1">Edad</label>
                            <p-inputnumber  formControlName="edad" id="edad" placeholder="Edad automatica" required fluid class="w-full text-sm px-0 py-2" />
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSave" class="formulario">
            <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()" />
            <p-button label="Guardar" icon="pi pi-check" (click)="store()"/>
        </form>
        </ng-template>

    </p-dialog>


    <p-dialog [(visible)]="visibleDelete" header="Confirmación" [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar éste entrenador?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined/>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '450px' }" header="Actualizar entrenador" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formUpdate" class="formulario">
                <div class="flex flex-col gap-6">
                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="nombre" class="block font-bold mb-3">Nombre</label>
                            <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre"  required fluid />    
                            <p-message 
                            *ngIf="formUpdate.get('nombre')?.invalid && (formUpdate.get('nombre')?.dirty || formUpdate.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                            Nombre es requerido
                            </p-message>
                        </div>
                        <div class="col-span-6">
                            <label for="apellido" class="block font-bold mb-3">Apellido</label>
                            <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required fluid />
                            <p-message 
                            *ngIf="formUpdate.get('apellido')?.invalid && (formUpdate.get('apellido')?.dirty || formUpdate.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Apellido es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <label for="password" class="block font-bold mb-1">Contraseña</label>
                            <input pInputText id="password" placeholder="Ingrese la contraseña" class="w-full text-sm px-0 py-2" formControlName="password" name="password" />
                        </div>
                        
                        <div class="col-span-6">
                            <label for="email1" class="block font-bold mb-1">Email</label>
                            <input pInputText id="email" type="text" placeholder="Ingrese el email" class="w-full text-sm px-0 py-2" formControlName="email"  name="email" type="email"  required/>
                            <p-message 
                            *ngIf="formUpdate.get('apellido')?.invalid && (formUpdate.get('apellido')?.dirty || formUpdate.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Email es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                       <div class="col-span-6">
                            <label for="cedula" class="block font-bold mb-3">Identificación</label>
                            <input type="tel" 
                                    formControlName="cedula" 
                                    pInputText 
                                    id="cedula" 
                                    placeholder="Número de Identificación"
                                    class="w-full text-sm px-0 py-2"
                                    (input)="soloNumeros($event)"
                                    maxlength="10"
                                    pattern="[0-9]*"
                                    inputmode="numeric">
                            
                            <p-message *ngIf="formUpdate.get('cedula')?.hasError('required') && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)" 
                                        severity="error" variant="simple" size="small">
                                Identificación es requerida
                            </p-message>
                            
                            <p-message *ngIf="(formUpdate.get('cedula')?.hasError('pattern') || formUpdate.get('cedula')?.hasError('minlength') || formUpdate.get('cedula')?.hasError('maxlength')) 
                                            && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)"
                                        severity="error" variant="simple" size="small">
                                Debe contener exactamente 10 dígitos numéricos
                            </p-message>
                        </div>

                        <div class="col-span-6">
                        <label for="telefono" class="block font-bold mb-3">Teléfono</label>
                        <input type="tel" 
                                formControlName="telefono" 
                                pInputText 
                                id="telefono" 
                                placeholder="Número de teléfono"
                                class="w-full text-sm px-0 py-2"
                                (input)="soloNumeros($event)"
                                maxlength="10"
                                pattern="[0-9]*"
                                inputmode="numeric">
                        
                        <p-message *ngIf="formUpdate.get('telefono')?.hasError('required') && (formUpdate.get('telefono')?.dirty || formUpdate.get('telefono')?.touched)" 
                                    severity="error" variant="simple" size="small">
                            Teléfono es requerido
                        </p-message>
                        
                        <p-message *ngIf="(formUpdate.get('telefono')?.hasError('pattern') || formUpdate.get('telefono')?.hasError('minlength') || formUpdate.get('telefono')?.hasError('maxlength')) 
                                        && (formUpdate.get('telefono')?.dirty || formUpdate.get('telefono')?.touched)"
                                    severity="error" variant="simple" size="small">
                            Debe contener exactamente 10 dígitos numéricos
                        </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_ciudad" class="block font-bold mb-3">Ciudad</label>
                                <p-select [options]="ciudad" [appendTo]="'body'" formControlName="id_ciudad"  inputId="id_ciudad"  optionLabel="nombre" optionValue="id" placeholder="Seleccione la ciudad" fluid />
                                <p-message 
                                    *ngIf="formUpdate.get('id_ciudad')?.invalid && (formUpdate.get('id_ciudad')?.dirty || formUpdate.get('id_ciudad')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>

                         <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="id_genero" class="block font-bold mb-3">Género</label>
                                <p-select [options]="genero" [appendTo]="'body'" formControlName="id_genero"  inputId="id_genero"  optionLabel="nombre" optionValue="id" placeholder="Seleccione el género" fluid />
                                <p-message 
                                    *ngIf="formUpdate.get('id_genero')?.invalid && (formUpdate.get('id_genero')?.dirty || formUpdate.get('id_genero')?.touched)" severity="error" variant="simple"size="small">
                                    Grupo es requerido
                                </p-message>
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <div class="col-span-6">
                                <label for="direccion" class="block font-bold mb-3">Dirección</label>
                                <input type="text" formControlName="direccion" pInputText id="direccion" placeholder="Ingrese la dirección" fluid />
                            </div>
                        </div>

                        <div class="col-span-6">
                            <div class="block font-bold mb-3">Fecha de inscripción</div>
                            <p-datepicker [maxDate]="maxDate" [appendTo]="'body'" formControlName="fechaInscripcion" inputId="fechaInscripcion" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'"> </p-datepicker>  
                            <p-message 
                            *ngIf="formUpdate.get('fechaInscripcion')?.invalid && (formUpdate.get('fechaInscripcion')?.dirty || formUpdate.get('fechaInscripcion')?.touched)" severity="error" variant="simple"size="small">
                            Fecha Inscripcion es requerido
                            </p-message>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6">
                            <div class="block font-bold mb-3">Fecha de nacimiento</div>
                            <p-datepicker [maxDate]="maxDate" [appendTo]="'body'" formControlName="fechaNacimiento" inputId="fechaNacimiento" [showIcon]="true" [showButtonBar]="true" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'"> </p-datepicker>
                            <p-message 
                            *ngIf="formUpdate.get('fechaNacimiento')?.invalid && (formUpdate.get('fechaNacimiento')?.dirty || formUpdate.get('fechaNacimiento')?.touched)" severity="error" variant="simple"size="small">
                            Fecha Nacimiento es requerido
                            </p-message>
                        </div>
                        <div class="col-span-6">
                            <label for="edad" class="block font-bold mb-3">Edad</label>
                            <input type="text" formControlName="edad" pInputText id="edad" placeholder="Ingrese la edad" required fluid />
                        </div>
                    </div>

                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formUpdate" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelUpdate()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
            </form>
        </ng-template>

    </p-dialog>

