    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar medida nutricionales" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>
    </p-toolbar>

    <p-toast />
        <div 
            *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
            <p-progressSpinner 
                [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
            </p-progressSpinner>
        </div>

    <div *ngIf="!loading">
        <p-table [value]="nutricionale" 
            dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="abrirExpand($event)" 
            (onRowCollapse)="cerrarCollapse($event)" [paginator]="true" [rows]="6" [rowsPerPageOptions]="[6, 12, 18]"
            [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Usuarios">
            
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Registro nutricionales</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search"></p-inputicon>
                        <input pInputText type="text" placeholder="Buscar..."
                               [(ngModel)]="terminoBusqueda"
                               (input)="filtrarBusqueda()" />
                      </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="min-width: 4rem"></th>
                    <th pSortableColumn="name" style="min-width:8rem">Identificación</th>
                    <th pSortableColumn="name" style="min-width:8rem">Nombre</th>
                    <th pSortableColumn="price" style="min-width: 8rem">Apellido</th>
                    <th pSortableColumn="price" style="min-width: 8rem">Género</th>
                    <th pSortableColumn="price" style="min-width: 6rem">Edad</th>
                </tr>
            </ng-template>

            <ng-template #body let-usuario let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="usuario" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.genero }}</td>
                    <td>{{ usuario.edad }}</td>
                </tr>
            </ng-template>

            <ng-template #expandedrow let-usuario>
                <tr>
                    <td colspan="7">
                        <div class="p-4">
                            <div class="overflow-x-auto">
                               <!-- Tabla de Medidas Nutricionales -->
                                <table class="w-full border-collapse">
                                <thead>
                                    <tr class="bg-gray-100">
                                    <th class="text-center p-3 border w-2">Agregar</th>
                                    <th class="text-left p-3 border">Medida</th>
                                    <th *ngFor="let medida of obtenerMedidasOrdenadas(usuario.medidaNutricionales)" 
                                        class="text-center p-3 border">
                                        {{ medida.fecha | date: 'dd-MM-yyyy' }}
                                    </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <!-- Fila Proteína Consumida -->
                                    <tr>
                                    <td class="p-3 border text-center align-middle" rowspan="3">
                                        <div class="flex justify-center items-center h-full">
                                        <p-button icon="pi pi-plus" 
                                                [rounded]="true" 
                                                [outlined]="true"
                                                severity="success"
                                                styleClass="p-button-sm"
                                                tooltip="Agregar nueva medida"
                                                (click)="prepareNewMedida(usuario)"/>
                                        </div>
                                    </td>
                                    <td class="p-3 border">Proteína consumida</td>
                                    <td *ngFor="let medida of obtenerMedidasOrdenadas(usuario.medidaNutricionales); let i = index" 
                                        class="text-center p-3 border">
                                        <div class="flex flex-row items-center justify-center gap-2">
                                        <span class="font-medium">{{ medida.proteina_consumida }}kg</span>
                                        <ng-container *ngIf="compararProteinaAnterior(obtenerMedidasOrdenadas(usuario.medidaNutricionales), i) === 'increase'">
                                            <i class="pi pi-arrow-up text-green-500"></i>
                                        </ng-container>
                                        <ng-container *ngIf="compararProteinaAnterior(obtenerMedidasOrdenadas(usuario.medidaNutricionales), i) === 'decrease'">
                                            <i class="pi pi-arrow-down text-red-500"></i>
                                        </ng-container>
                                        </div>
                                    </td>
                                    </tr>
                                    
                                    <!-- Fila Calorías Consumidas -->
                                    <tr>
                                    <td class="p-3 border">Calorías consumida</td>
                                    <td *ngFor="let medida of obtenerMedidasOrdenadas(usuario.medidaNutricionales); let i = index" 
                                        class="text-center p-3 border">
                                        <div class="flex flex-row items-center justify-center gap-2">
                                        <span class="font-medium">{{ medida.caloria_consumida }}kg</span>
                                        <ng-container *ngIf="compararCaloriasAnterior(obtenerMedidasOrdenadas(usuario.medidaNutricionales), i) === 'increase'">
                                            <i class="pi pi-arrow-up text-green-500"></i>
                                        </ng-container>
                                        <ng-container *ngIf="compararCaloriasAnterior(obtenerMedidasOrdenadas(usuario.medidaNutricionales), i) === 'decrease'">
                                            <i class="pi pi-arrow-down text-red-500"></i>
                                        </ng-container>
                                        </div>
                                    </td>
                                    </tr>
                                    
                                    <!-- Fila de Acciones -->
                                    <tr>
                                    <td class="p-3 border font-bold text-lg">Acciones</td>
                                    <td *ngFor="let medida of obtenerMedidasOrdenadas(usuario.medidaNutricionales)" 
                                        class="text-center p-3 border">
                                        <div class="flex justify-center space-x-1">
                                        <p-button icon="pi pi-pencil" 
                                                [rounded]="true" 
                                                [outlined]="true"
                                                styleClass="p-button-xs"
                                                (click)="edit(medida)"/>
                                        
                                        <p-button icon="pi pi-trash" 
                                                [rounded]="true" 
                                                [outlined]="true"
                                                severity="danger"
                                                styleClass="p-button-xs"
                                                (click)="showModalDelete(medida.id)"/>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

    
    <p-dialog [(visible)]="visibleUserMeasureDialog" [style]="{ width: '400px' }" [header]="'Nueva medida para ' + (selectedUser?.nombre || 'Usuario')" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">   
        <ng-template #content>
            <form [formGroup]="formSave" class="flex flex-col gap-5 p-3">

                <div class="field">
                    <label class="block font-bold mb-2 text-gray-700">Usuario</label>
                    <div class="p-3 bg-gray-100 rounded-md">
                        <p class="font-semibold">{{selectedUser?.nombre}} {{selectedUser?.apellido}}-{{selectedUser?.cedula}}</p>

                    </div>
                </div>
                
                 <div class="col-span-6">
                        <label for="proteina_consumida" class="block font-bold mb-2">Proteína consumida</label>
                        <p-inputnumber  formControlName="proteina_consumida" id="proteina_consumida" placeholder="Ingrese la medida" required class="w-full text-sm px-0 py-1" />             
                            <p-message
                            *ngIf="formSave.get('proteina_consumida')?.errors?.['required'] && (formSave.get('proteina_consumida')?.dirty || formSave.get('proteina_consumida')?.touched)" severity="error" variant="simple" size="small" >
                            Proteína consumida es requerida
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="caloria_consumida" class="block font-bold mb-2">Caloría consumida</label>
                        <p-inputnumber  formControlName="caloria_consumida" id="caloria_consumida" placeholder="Ingrese la medida" required  class="w-full text-sm px-0 py-1" />             
                        <p-message
                            *ngIf="formSave.get('caloria_consumida')?.errors?.['required'] && (formSave.get('caloria_consumida')?.dirty || formSave.get('caloria_consumida')?.touched)" severity="error" variant="simple" size="small" >
                            Caloría consumida es requerida
                        </p-message>
                    </div>
                

                <div class="col-span-12 flex justify-center">
                    <div class="col-span-6">
                        <label for="fecha" class="block font-bold mb-2">Fecha registro</label>
                        <p-datepicker 
                            [(ngModel)]="currentDate" [maxDate]="maxDate" formControlName="fecha" inputId="fecha" [showIcon]="true" 
                            [showButtonBar]="true" [appendTo]="'body'"  dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" class="w-96">
                        </p-datepicker>
                        <p-message 
                            *ngIf="formSave.get('fecha')?.invalid && (formSave.get('fecha')?.dirty || formSave.get('fecha')?.touched)"  severity="error"  variant="simple" size="small">
                            Fecha es requerida
                        </p-message>
                    </div>
                </div>

            </form>
        </ng-template>
        
        <ng-template #footer>
            <div class="flex justify-end gap-3">
                <p-button label="Cancelar" 
                        icon="pi pi-times" 
                        (click)="visibleUserMeasureDialog = false" 
                        styleClass="p-button-text p-button-secondary"/>
                        
                <p-button label="Guardar" 
                        icon="pi pi-check" 
                        (click)="store()" 
                        [disabled]="formSave.invalid"
                        styleClass="p-button-success"/>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '350px' }" header="Agregar medida nutricionales" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">
        
        <ng-template #content>
            <form [formGroup]="formSave" class="formulario">
                <div class="flex flex-col gap-6">
                    <div class="col-span-6">
                        <label for="id_usuario" class="block font-bold mb-3">Usuario</label>             
                        <p-select
                            [options]="usuarios" formControlName="id_usuario" inputId="id_usuario" optionLabel="display" optionValue="id"
                            placeholder="Seleccione un usuario" [appendTo]="'body'" [filter]="true" filterBy="display" [showClear]="true" class="w-full md:w-70">
                        </p-select>
                        <div class="mt-2">
                            <p-message
                                *ngIf="formSave.get('id_usuario')?.invalid && (formSave.get('id_usuario')?.dirty || formSave.get('id_usuario')?.touched)" severity="error" variant="simple" size="small" >
                                Usuario es requerido
                            </p-message>
                        </div>
                    </div>
                        
                    <div class="col-span-6">
                        <label for="proteina_consumida" class="block font-bold mb-2">Proteína consumida</label>
                        <p-inputnumber  formControlName="proteina_consumida" id="proteina_consumida" placeholder="Ingrese la medida" required class="w-full text-sm px-0 py-1" />             
                            <p-message
                            *ngIf="formSave.get('proteina_consumida')?.errors?.['required'] && (formSave.get('proteina_consumida')?.dirty || formSave.get('proteina_consumida')?.touched)" severity="error" variant="simple" size="small" >
                            Proteína consumida es requerida
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="caloria_consumida" class="block font-bold mb-2">Caloría consumida</label>
                        <p-inputnumber  formControlName="caloria_consumida" id="caloria_consumida" placeholder="Ingrese la medida" required  class="w-full text-sm px-0 py-1" />             
                        <p-message
                            *ngIf="formSave.get('caloria_consumida')?.errors?.['required'] && (formSave.get('caloria_consumida')?.dirty || formSave.get('caloria_consumida')?.touched)" severity="error" variant="simple" size="small" >
                            Caloría consumida es requerida
                        </p-message>
                    </div>

                    <div class="col-span-12 flex justify-center" >
                        <div class="col-span-6">
                        <label for="fecha" class="block font-bold mb-2">Fecha registro</label>
                        <p-datepicker 
                            [(ngModel)]="fechaActual" [maxDate]="maxDate"formControlName="fecha" inputId="fecha" [showIcon]="true" [showButtonBar]="true" 
                            [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" class="w-96" >
                        </p-datepicker>
                        <p-message 
                            *ngIf="formSave.get('fecha')?.invalid && (formSave.get('fecha')?.dirty || formSave.get('fecha')?.touched)"  severity="error"  variant="simple" size="small">
                            Fecha es requerida
                        </p-message>
                        </div>
                    </div>  
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSave" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()"  />
                <p-button label="Guardar" icon="pi pi-check" (click)="store()" />
            </form>
        </ng-template>

    </p-dialog>

    <p-dialog [(visible)]="visibleDelete" header="Confirmación"  [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar este registró?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined autofocus />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '450px' }" header="Actualizar medida nutricionales" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">
    
        <ng-template #content>
            <form [formGroup]="formUpdate" class="formulario">
                <div class="flex flex-col gap-6">
                    
                    <div class="col-span-6">
                        <label for="id_usuario" class="block font-bold mb-3">Usuario</label>   
                        <p-select 
                            [options]="usuarios" formControlName="id_usuario" optionLabel="display" optionValue="id" [readonly]="true" [style]="{'background-color': '#e0e0e0'}" class="w-full md:w-70 ">
                        </p-select>
                    </div>
                     
                    <div class="col-span-6">
                        <label for="caloria_consumida" class="block font-bold mb-2 ">Caloría consumida</label>
                        <p-inputnumber formControlName="caloria_consumida" id="caloria_consumida" placeholder="Ingrese la medida" required  class="w-full text-sm px-0 py-1" />             
                        <p-message
                            *ngIf="formUpdate.get('caloria_consumida')?.errors?.['required'] && (formUpdate.get('caloria_consumida')?.dirty || formUpdate.get('caloria_consumida')?.touched)" severity="error" variant="simple" size="small" >
                            Caloría consumida es requerida
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="proteina_consumida" class="block font-bold mb-2 ">Proteína consumida</label>
                        <p-inputnumber formControlName="proteina_consumida" id="proteina_consumida" placeholder="Ingrese la medida" required class="w-full text-sm px-0 py-1" />             
                        <p-message
                            *ngIf="formUpdate.get('proteina_consumida')?.errors?.['required'] && (formUpdate.get('proteina_consumida')?.dirty || formUpdate.get('medida_elasticida')?.touched)" severity="error" variant="simple" size="small" >
                            Proteína consumida es requerida
                        </p-message>
                    </div>
    
                    <div class="col-span-12 flex justify-center" >
                        <div class="col-span-6">
                            <label for="fecha" class="block font-bold mb-2">Fecha registro</label>
                            <p-datepicker 
                                [maxDate]="maxDate" formControlName="fecha" inputId="fecha" [showIcon]="true" [showButtonBar]="true" 
                                [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" class="w-96" >
                            </p-datepicker>
                            <p-message 
                                *ngIf="formUpdate.get('fecha')?.invalid && (formUpdate.get('fecha')?.dirty || formUpdate.get('fecha')?.touched)"  severity="error"  variant="simple" size="small">
                                Fecha es requerido
                            </p-message>
                        </div>
                    </div>

                </div>
            </form>
        </ng-template>
    
        <ng-template #footer>
            <form [formGroup]="formUpdate" class="formulario">
            <p-button label="Cancelar" icon="pi pi-times" text (click)="canceUpdate()"  />
            <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
        </form>
        </ng-template>
    
    </p-dialog>