    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar nuevo representante" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>

    </p-toolbar>

    <p-toast />
    <div 
        *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <p-progressSpinner 
            [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
        </p-progressSpinner>
    </div>

    <div *ngIf="!loading">
    <div style="overflow-x:auto;">
        <p-table
        #dt
        [value]="representante"
        dataKey="id"
        [rows]="6"
        [paginator]="true"
        [rowsPerPageOptions]="[6, 12, 18]"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Representantes"
        [tableStyle]="{ 'min-width': '700px' }"
        scrollHeight="flex"
        [scrollable]="true"
        scrollDirection="horizontal"
        >
        <!-- ---------- CAPTION ---------- -->
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
            <h5 class="m-0 text-base md:text-lg font-semibold">Representantes</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search"></p-inputicon>
                <input
                pInputText
                type="text"
                placeholder="Buscar..."
                [(ngModel)]="filtro"
                (input)="buscador()"
                />
            </p-iconfield>
            </div>
        </ng-template>

        <!-- ---------- HEADER ---------- -->
        <ng-template pTemplate="header">
            <tr>
            <th style="min-width: 6rem; text-align:left;">ID</th>
            <th style="min-width: 10rem; text-align:left;" pSortableColumn="nombre">Nombre</th>
            <th style="min-width: 10rem; text-align:left;" pSortableColumn="apellido">Apellido</th>
            <th style="min-width: 12rem; text-align:left;" pSortableColumn="cedula">Identificación</th>
            <th style="min-width: 10rem; text-align:left;" pSortableColumn="telefono">Teléfono</th>
            <th style="width: 110px; text-align:center;">Acciones</th>
            </tr>
        </ng-template>

        <!-- ---------- BODY ---------- -->
        <ng-template pTemplate="body" let-usuario let-i="rowIndex">
            <tr> 
            <td>{{ i + 1 }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.cedula }}</td>
            <td>{{ usuario.telefono }}</td>
            <td style="text-align:center; white-space:nowrap;">
                <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                (click)="edit(usuario.id)"
                ></p-button>
                <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (click)="showModalDelete(usuario.id)"
                ></p-button>
            </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    </div>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '350px' }" header="Agregar representante" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formSave" class="formulario">
                <div class="flex flex-col gap-6">
            
                    <div class="col-span-6">
                        <label for="nombre" class="block font-bold mb-3">Nombre</label>
                        <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre" required autofocus fluid />
                        <p-message 
                            *ngIf="formSave.get('nombre')?.invalid && (formSave.get('nombre')?.dirty || formSave.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                            Nombre es requerido
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="apellido" class="block font-bold mb-3">Apellido</label>
                        <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required autofocus fluid />
                        <p-message 
                            *ngIf="formSave.get('apellido')?.invalid && (formSave.get('apellido')?.dirty || formSave.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Apellido es requerido
                        </p-message>
                    </div>
            
                    <div class="col-span-6">
                    <label for="cedula" class="block font-bold mb-1">Identificación</label>
                    <input type="tel"
                            pInputText 
                            formControlName="cedula" 
                            id="cedula" 
                            placeholder="Número de identificación" 
                            class="w-full text-sm px-0 py-2"
                            (input)="soloNumeros($event)"
                            maxlength="10"
                            pattern="[0-9]*"
                            inputmode="numeric">
                    
                    <!-- Mensajes de validación para cédula -->
                    <div class="mt-1">
                        <p-message *ngIf="formSave.get('cedula')?.hasError('required') && (formSave.get('cedula')?.touched || submitted)" 
                                severity="error" variant="simple" size="small">
                        La identificación es requerida
                        </p-message>
                        <p-message *ngIf="formSave.get('cedula')?.hasError('pattern') || formSave.get('cedula')?.hasError('minlength') || formSave.get('cedula')?.hasError('maxlength')" 
                                severity="error" variant="simple" size="small">
                        Debe contener exactamente 10 dígitos numéricos
                        </p-message>
                    </div>
                    </div>

                    <div class="col-span-6">
                    <label for="telefono" class="block font-bold mb-1">Teléfono</label>
                    <input type="tel"
                            pInputText 
                            formControlName="telefono" 
                            id="telefono" 
                            placeholder="Número de teléfono" 
                            class="w-full text-sm px-0 py-2"
                            (input)="soloNumeros($event)"
                            maxlength="10"
                            pattern="[0-9]*"
                            inputmode="numeric">
                    
                    <!-- Mensajes de validación para teléfono -->
                    <div class="mt-1">
                        <p-message *ngIf="formSave.get('telefono')?.hasError('required') && (formSave.get('telefono')?.touched || submitted)" 
                                severity="error" variant="simple" size="small">
                        El teléfono es requerido
                        </p-message>
                        <p-message *ngIf="formSave.get('telefono')?.hasError('pattern') || formSave.get('telefono')?.hasError('minlength') || formSave.get('telefono')?.hasError('maxlength')" 
                                severity="error" variant="simple" size="small">
                        Debe contener exactamente 10 dígitos numéricos
                        </p-message>
                    </div>
                    </div>
                
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSave" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="store()"/>
            </form>
        </ng-template>

    </p-dialog>

    <p-dialog [(visible)]="visibleDelete" header="Confirmación"  [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar este representante?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined autofocus />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '350px' }" header="Actualizar representante" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formUpdate" class="formulario">
                <div class="flex flex-col gap-6">

                    <div class="col-span-6">
                        <label for="nombre" class="block font-bold mb-3">Nombre</label>
                        <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre"  required autofocus fluid />    
                        <p-message 
                            *ngIf="formUpdate.get('nombre')?.invalid && (formUpdate.get('nombre')?.dirty || formUpdate.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                            Nombre es requerido
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="apellido" class="block font-bold mb-3">Apellido</label>
                        <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required autofocus fluid />
                        <p-message 
                            *ngIf="formUpdate.get('apellido')?.invalid && (formUpdate.get('apellido')?.dirty || formUpdate.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Apellido es requerido
                        </p-message>
                    </div>
                                        
                    <div class="col-span-6">
                    <label for="cedula" class="block font-bold mb-3">Identificación</label>
                    <input type="tel" 
                            formControlName="cedula" 
                            pInputText 
                            id="cedula" 
                            placeholder="Número de Identificación"
                            class="w-full text-sm px-0 py-2"
                            (input)="soloNumeros($event)"
                            maxlength="10"
                            pattern="[0-9]*"
                            inputmode="numeric">
                    
                    <p-message *ngIf="formUpdate.get('cedula')?.hasError('required') && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)" 
                                severity="error" variant="simple" size="small">
                        Identificación es requerida
                    </p-message>
                    
                    <p-message *ngIf="(formUpdate.get('cedula')?.hasError('pattern') || formUpdate.get('cedula')?.hasError('minlength') || formUpdate.get('cedula')?.hasError('maxlength')) 
                                    && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)"
                                severity="error" variant="simple" size="small">
                        Debe contener exactamente 10 dígitos numéricos
                    </p-message>
                    </div>

                    <div class="col-span-6">
                    <label for="telefono" class="block font-bold mb-3">Teléfono</label>
                    <input type="tel" 
                            formControlName="telefono" 
                            pInputText 
                            id="telefono" 
                            placeholder="Número de teléfono"
                            class="w-full text-sm px-0 py-2"
                            (input)="soloNumeros($event)"
                            maxlength="10"
                            pattern="[0-9]*"
                            inputmode="numeric">
                    
                    <p-message *ngIf="formUpdate.get('telefono')?.hasError('required') && (formUpdate.get('telefono')?.dirty || formUpdate.get('telefono')?.touched)" 
                                severity="error" variant="simple" size="small">
                        Teléfono es requerido
                    </p-message>
                    
                    <p-message *ngIf="(formUpdate.get('telefono')?.hasError('pattern') || formUpdate.get('telefono')?.hasError('minlength') || formUpdate.get('telefono')?.hasError('maxlength')) 
                                    && (formUpdate.get('telefono')?.dirty || formUpdate.get('telefono')?.touched)"
                                severity="error" variant="simple" size="small">
                        Debe contener exactamente 10 dígitos numéricos
                    </p-message>
                    </div>
                    
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formUpdate" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelUpdate()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
            </form>
        </ng-template>

    </p-dialog>