    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar nuevo representante" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Descargar Pdf" icon="pi pi-upload" severity="secondary" (click)="exportPdf()" />
        </ng-template>
    </p-toolbar>

    <p-toast />
    <div 
        *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <p-progressSpinner 
            [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
        </p-progressSpinner>
    </div>

    <div *ngIf="!loading">
        <p-table [value]="representante" 
            #dt [rows]="6" [paginator]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Representante"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[6, 12, 18]">
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Registro de representante</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text"  placeholder="Buscar..." [(ngModel)]="filtro" (input)="buscador()" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="min-width: 6rem">Code</th>
                    <th pSortableColumn="name" style="min-width:8rem">Nombre</th>
                    <th pSortableColumn="price" style="min-width: 8rem">Apellido</th>
                    <th pSortableColumn="price" style="min-width: 10rem">Identificación</th>
                    <th pSortableColumn="price" style="min-width: 10rem">Teléfono</th>
                    <th pSortableColumn="inventoryStatus" style="min-width: 10rem">Acciones</th>
                </tr>
            </ng-template>

            <ng-template #body let-usuario>
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(usuario.id)"/>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="showModalDelete(usuario.id)" />
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '350px' }" header="Agregar representante" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formSave" class="formulario">
                <div class="flex flex-col gap-6">
            
                    <div class="col-span-6">
                        <label for="nombre" class="block font-bold mb-3">Nombre</label>
                        <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre" required autofocus fluid />
                        <p-message 
                            *ngIf="formSave.get('nombre')?.invalid && (formSave.get('nombre')?.dirty || formSave.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                            Nombre es requerido
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="apellido" class="block font-bold mb-3">Apellido</label>
                        <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required autofocus fluid />
                        <p-message 
                            *ngIf="formSave.get('apellido')?.invalid && (formSave.get('apellido')?.dirty || formSave.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Apellido es requerido
                        </p-message>
                    </div>
            
                    <div class="col-span-6">
                        <label for="cedula" class="block font-bold mb-1">Identificación</label>
                        <input type="text" pInputText formControlName="cedula" id="cedula" placeholder="Número de identificación" class="w-full text-sm px-0 py-2"/>
                        <p-message 
                            *ngIf="formSave.get('cedula')?.errors?.['required'] && (formSave.get('cedula')?.dirty || formSave.get('cedula')?.touched)" severity="error" variant="simple" size="small">
                            Identificación es requerida
                        </p-message>
                        <p-message 
                            *ngIf="formSave.get('cedula')?.errors?.['pattern'] && (formSave.get('cedula')?.dirty || formSave.get('cedula')?.touched)" severity="error" variant="simple" size="small">
                            Identificación acepta número valido 10 números
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="telefono" class="block font-bold mb-1">Teléfono</label>
                        <input type="text" pInputText formControlName="telefono" id="telefono" placeholder="Número de teléfono" class="w-full text-sm px-0 py-2" />             
                        <p-message
                        *ngIf="formSave.get('telefono')?.errors?.['required'] && (formSave.get('telefono')?.dirty || formSave.get('telefono')?.touched)" severity="error" variant="simple" size="small" >
                        Valido solo 10 número
                        </p-message>
                    </div>
                
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSave" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelSave()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="store()"/>
            </form>
        </ng-template>

    </p-dialog>

    <p-dialog [(visible)]="visibleDelete" header="Confirmación"  [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar este representante?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined autofocus />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '350px' }" header="Actualizar representante" [modal]="true">
        
        <ng-template #content>
            <form [formGroup]="formUpdate" class="formulario">
                <div class="flex flex-col gap-6">

                    <div class="col-span-6">
                        <label for="nombre" class="block font-bold mb-3">Nombre</label>
                        <input type="text" formControlName="nombre"  pInputText id="nombre" placeholder="Ingrese el nombre"  required autofocus fluid />    
                        <p-message 
                            *ngIf="formUpdate.get('nombre')?.invalid && (formUpdate.get('nombre')?.dirty || formUpdate.get('nombre')?.touched)" severity="error" variant="simple"size="small">
                            Nombre es requerido
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="apellido" class="block font-bold mb-3">Apellido</label>
                        <input type="text" formControlName="apellido" pInputText id="apellido" placeholder="Ingrese el apellido"  required autofocus fluid />
                        <p-message 
                            *ngIf="formUpdate.get('apellido')?.invalid && (formUpdate.get('apellido')?.dirty || formUpdate.get('apellido')?.touched)" severity="error" variant="simple"size="small">
                            Apellido es requerido
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="cedula" class="block font-bold mb-3">Identificación</label>
                        <input type="text" formControlName="cedula" pInputText id="cedula" placeholder="Número de Identificación"   required autofocus fluid />
                        <p-message 
                        *ngIf="formUpdate.get('cedula')?.errors?.['required'] && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)" severity="error" variant="simple" size="small">
                            Identificación es requerida
                        </p-message>
                        <p-message 
                            *ngIf="formUpdate.get('cedula')?.errors?.['pattern'] && (formUpdate.get('cedula')?.dirty || formUpdate.get('cedula')?.touched)" severity="error" variant="simple" size="small">
                            Identificación acepta número valido 10 números
                        </p-message>
                    </div>

                    <div class="col-span-6">
                        <label for="telefono" class="block font-bold mb-1">Teléfono</label>
                        <input type="text" pInputText formControlName="telefono" id="telefono" placeholder="Número de télefono" class="w-full text-sm px-0 py-2" /> 
                        <p-message
                            *ngIf="formUpdate.get('telefono')?.errors?.['required'] && (formUpdate.get('telefono')?.dirty || formUpdate.get('telefono')?.touched)" severity="error" variant="simple" size="small" >
                            Valido solo 10 número
                        </p-message>
                    </div>

                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formUpdate" class="formulario">
                <p-button label="Cancelar" icon="pi pi-times" text (click)="cancelUpdate()" />
                <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
            </form>
        </ng-template>

    </p-dialog>