    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Agregar Nuevo Elasticida" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="showSaveDialog()" />
        </ng-template>
    </p-toolbar>

    <p-toast />
    <div 
        *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 300px;">
        <p-progressSpinner 
            [style]="{ width: '50px', height: '50px' }" styleClass="p-text-primary">
        </p-progressSpinner>
    </div>

    <div *ngIf="!loading">
        <p-table [value]="elasticida" 
            dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="abrirExpand($event)" 
            (onRowCollapse)="cerrarCollapse($event)" [paginator]="true" [rows]="6" [rowsPerPageOptions]="[6, 12, 18]"
            [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar del {first} al {last} de {totalRecords} Usuarios">    
        
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Registró de Elasticida</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text"   placeholder="Buscar..."  />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th style="min-width: 4rem"></th>
                    <th style="min-width: 6rem">ID</th>
                    <th pSortableColumn="name" style="min-width:8rem">Cédula</th>
                    <th pSortableColumn="name" style="min-width:8rem">Nombre</th>
                    <th pSortableColumn="price" style="min-width: 8rem">Apellido</th>
                    <th pSortableColumn="price" style="min-width: 8rem">Género</th>
                    <th pSortableColumn="price" style="min-width: 6rem">Edad</th>
                </tr>
            </ng-template>

            <ng-template #body let-usuario let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="usuario" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.cedula }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.genero }}</td>
                    <td>{{ usuario.edad }}</td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-usuario>
                <tr>
                    <td colspan="7">
                        <div class="p-4">
                            <p-table [value]="usuario.medidaElasticidas" dataKey="id">
                                <ng-template #header>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Medida</th>
                                        <th>Fecha Registró</th>
                                        <th>Acciones</th>
                                    </tr>

                                </ng-template>
                                <ng-template #body let-elast>
                                    <tr>
                                        <td>{{ elast.id }}</td>
                                        <td>{{ elast.nombre }}</td>
                                        <td>{{ elast.apellido }}</td>
                                        <td>{{ elast.medida_elasticida }} Kg</td>
                                        <td>{{ elast.fecha }}</td>
                                        <td>
                                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="edit(elast)"/>
                                            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="showModalDelete(elast.id)" />
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="visibleSave" [style]="{ width: '350px' }" header="Agregar Elasticida" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">
        
        <ng-template #content>
            <form [formGroup]="formSave" class="formulario">
                <div class="flex flex-col gap-6">
                    <div class="col-span-6">
                        <label for="id_usuario" class="block font-bold mb-3">Usuario</label>             
                        <p-select
                            [options]="usuarios" formControlName="id_usuario" inputId="id_usuario" optionLabel="display"optionValue="id"
                            placeholder="Seleccione un usuario"[filter]="true" filterBy="display" [showClear]="true" class="w-full md:w-70">
                        </p-select>
                        <div class="mt-2">
                            <p-message
                                *ngIf="formSave.get('id_usuario')?.invalid && (formSave.get('id_usuario')?.dirty || formSave.get('id_usuario')?.touched)" severity="error" variant="simple" size="small" >
                                Usuario es requerido
                            </p-message>
                        </div>
                    </div>
                    
                    <div class="col-span-6">
                        <label for="medida_elasticida" class="block font-bold mb-2">Medida Elasticida</label>
                        <p-inputnumber formControlName="medida_elasticida" id="medida_elasticida" placeholder="Ingrese la medida" required class="w-full text-sm px-0 py-1" />             
                        <p-message
                            *ngIf="formSave.get('medida_elasticida')?.errors?.['required'] && (formSave.get('medida_elasticida')?.dirty || formSave.get('medida_elasticida')?.touched)" severity="error" variant="simple" size="small" >
                            Medida Elasticida es requerida
                        </p-message>
                    </div>

                    <div class="col-span-12 flex justify-center" >
                        <div class="col-span-6">
                        <label for="fecha" class="block font-bold mb-2">Fecha Inscripción</label>
                        <p-datepicker 
                            [maxDate]="maxDate" formControlName="fecha" inputId="fecha" [showIcon]="true" [showButtonBar]="true" 
                            [appendTo]="'body'"  dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" class="w-96" >
                        </p-datepicker>
                        <p-message 
                            *ngIf="formSave.get('fecha')?.invalid && (formSave.get('fecha')?.dirty || formSave.get('fecha')?.touched)"  severity="error"  variant="simple" size="small">
                            Fecha es requerida
                        </p-message>
                        </div>
                    </div>      
                </div>
            </form>
        </ng-template>

        <ng-template #footer>
            <form [formGroup]="formSave" class="formulario">
                <p-button label="Cancel" icon="pi pi-times" text (click)="cancelSave()"  />
                <p-button label="Save" icon="pi pi-check" (click)="store()" />
            </form>
        </ng-template>

    </p-dialog>

    <p-dialog [(visible)]="visibleDelete" header="Confirmación" [style]="{ width: '350px' }" [modal]="true">
        <div class="flex items-center justify-center">
            <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
            <span>¿Estás seguro que deseas eliminar este registro?</span>
        </div>
        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" (click)="visibleDelete = false" text severity="secondary" (click)="cancelMessageToast()" />
            <p-button label="Eliminar" icon="pi pi-check" (click)="delete()" severity="danger" outlined/>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visibleUpdate" [style]="{ width: '450px' }" header="Actualizar Medida" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}">  
        <ng-template #content>
            <form [formGroup]="formUpdate" class="formulario">
                <div class="flex flex-col gap-6">      
                    <div class="col-span-6">
                        <label for="id_usuario" class="block font-bold mb-3">Usuario</label>   
                        <p-select 
                            [options]="usuarios" formControlName="id_usuario" optionLabel="display" optionValue="id" [readonly]="true" [style]="{'background-color': '#e0e0e0'}" class="w-full md:w-70 ">
                        </p-select>
                    </div>

                    <div class="col-span-6">
                        <label for="medida_elasticida" class="block font-bold mb-2 ">Medida Elasticida</label>
                        <p-inputnumber type="text" formControlName="medida_elasticida"  id="medida_elasticida" placeholder="Ingrese la medida" required class="w-full text-sm px-0 py-1" />             
                        <p-message
                        *ngIf="formUpdate.get('medida_elasticida')?.errors?.['required'] && (formUpdate.get('medida_elasticida')?.dirty || formUpdate.get('medida_elasticida')?.touched)" severity="error" variant="simple" size="small" >
                        Medida Elasticida es requerida
                        </p-message>
                    </div>
    
                    <div class="col-span-12 flex justify-center" >
                        <div class="col-span-6">
                            <label for="fecha" class="block font-bold mb-2">Fecha Inscripción</label>
                            <p-datepicker 
                                [maxDate]="maxDate" formControlName="fecha" inputId="fecha" [showIcon]="true" [showButtonBar]="true" 
                                [appendTo]="'body'" dateFormat="yy-mm-dd" [placeholder]="'Seleccione una fecha'" class="w-96" >
                            </p-datepicker>
                            <p-message 
                                *ngIf="formUpdate.get('fecha')?.invalid && (formUpdate.get('fecha')?.dirty || formUpdate.get('fecha')?.touched)"  severity="error"  variant="simple" size="small">
                                Fecha Nacimiento es requerido
                            </p-message>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
    
        <ng-template #footer>
            <form [formGroup]="formUpdate" class="formulario">
            <p-button label="Cancel" icon="pi pi-times" text (click)="canceUpdate()"  />
            <p-button label="Guardar" icon="pi pi-check" (click)="update()" />
        </form>
        </ng-template>
    </p-dialog>
